/* html{
      overflow-x: hidden;
} */
/* GLOBAL */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(230, 230, 230);
}
a{
    text-decoration: none;
}

/*  */
/* HEADER */
.menu-menu-du-header-container {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 250, 250);
    flex-wrap: wrap;
}
.menu-menu-du-header-container li {
    display: inline-block;
}
.menu-menu-du-header-container li{
    display: inline-block;
    margin: auto 30px;
    color: rgb(65, 105, 225);
    text-transform: uppercase;
    font-weight: 700;
}
.menu-menu-du-header-container #menu-item-136 a{
    padding: 15px;
    border-radius: 5px;
    color: rgb(250, 250, 250);
    background-color: rgb(225, 65, 65);
    font-weight: 700;
}
.menu-menu-du-header-container a:hover{
    filter: brightness(1.2);
    position: relative;
    top: -2px;
}
.hero {
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 80px;
}
h1{
    display: inline-block;
    position: relative;
    top: 250px;
    left: 50px;
    text-transform: uppercase;
    font-size: 60px;
    color: rgb(250, 250, 250);
    font-weight: 700;
    text-align: left;
}
/*  */
/* MAIN */
main *, main * *{
    margin-bottom: 20px;
}
    /* candidate */
.candidate-info{
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 8px 20px rgb(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 75%;
    padding: 40px;
    margin: auto;
    margin-bottom: 80px;
    text-align: justify;
}
.candidate-info h2{
    width: max-content;
    text-align: center;
    font-size: 25px;
    color: rgb(65, 105, 225);
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
    font-weight: 700;
}
.candidate-info h2::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: rgb(65, 105, 225);
    position: relative;
    top: -6px;
}
.candidate-info p{
    line-height: 150%;
}
    /*    */
    /* team */
.team{
    display: inline-block;
    /* text-align: center; */
    margin-bottom: 60px;
}
.team-member{
    display: inline-block;
    width: 40%;
    margin: auto 30px;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 8px 20px rgb(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 20px;
}
.team-member-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-member-name{
    font-size: 20px;
    color: rgb(225, 65, 65);
    font-weight: 700;
}
.team-member .learn-more{
    color: rgb(250, 250, 250);
    background-color: rgb(65, 105, 225);
    padding: 10px;
    border-radius: 5px;
}
.team-member .learn-more:hover{
    filter: brightness(1.2);
    position: relative;
    top: -2px;
}
/*  */
/* propositions */
.propositions{
  text-align: center;
  margin-bottom: 60px;
}
.propositions .tags {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.propositions .tags a{
  padding: 10px;
  color: rgb(250, 250, 250);
  background-color: rgb(225, 65, 65);
  font: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.propositions .tags a:hover{
  filter: brightness(1.2);
  position: relative;
  top: -2px;
}
.propositions article{
  display: none;
  width: 40%;
  margin: auto 30px;
  margin-bottom: 20px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 8px 20px rgb(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 20px;
}
/* Classe necessaires pour le js propositions */

.propositions article.display
{
  display: inline-block;
}
.propositions div{
  margin-bottom: 0;
}
article .proposition-thumbnail{
  width: 103px;
}
article .proposition-content{
  text-align: justify;
  margin-bottom: 40px;
}
article .proposition-title{
  font-size: 20px;
  color: rgb(225, 65, 65);
  font-weight: 700;
}
article .learn-more{
  text-align: center;
  color: rgb(250, 250, 250);
  background-color: rgb(65, 105, 225);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0;
}
article .learn-more:hover{
  filter: brightness(1.2);
  position: relative;
  top: -2px;
}
    /*    */
    /* actualites */
.news .news-article{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 8px 20px rgb(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    height: max-content;
    display: flex;
    justify-content: space-around;
}
.news-article div{
    text-align: justify;
    width: 65%;
}
.news-article div .news-content{
    margin-bottom: 40px;
}
.news-thumbnail{
    width: 103px;
    height: 103px;
}
.news-article .news-title{
    font-size: 18px;
    color: rgb(225, 65, 65);
    font-weight: 700;
    margin-bottom: 20px;
}
.news .learn-more{
    text-align: center;
    color: rgb(250, 250, 250);
    background-color: rgb(65, 105, 225);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0;
    position: relative;
    left: 85.5%;
}
.news .learn-more:hover{
    filter: brightness(1.2);
    position: relative;
    top: -2px;
}
/*  */
/* FOOTER */
footer {
    background-color: rgb(25, 25, 25);
    color: rgb(250, 250, 250);

}
footer nav{
    display: flex;
    justify-content: space-around;
}
footer nav a{
    display: block;
    color: rgb(250, 250, 250);
}